absl-py==0.8.1
Adafruit-Blinka==5.5.3
adafruit-circuitpython-neopixel==6.0.0
adafruit-circuitpython-pypixelbuf==2.2.0
Adafruit-PlatformDetect==2.18.1
Adafruit-PureIO==1.1.6
aiohttp==3.7.4.post0
altgraph==0.17
argon2-cffi==20.1.0
astor==0.8.0
async-generator==1.10
async-timeout==3.0.1
attrs==20.2.0
autopep8==1.6.0
backcall==0.2.0
bleach==3.2.1
blinker==1.4
boto3==1.16.47
botocore==1.19.47
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cryptography==2.8
cv==1.0.0
cycler==0.10.0
botocore==1.19.47
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cryptography==2.8
cv==1.0.0
cycler==0.10.0
darksky-weather==1.8.0
decorator==4.4.2
defusedxml==0.6.0
discord.py==1.7.1
docx==0.2.4
ecdsa==0.16.0
entrypoints==0.3
esptool==2.8
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Mail==0.9.1
Flask-WTF==0.14.3
future==0.18.2
gast==0.2.2
google-auth==1.6.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
greenlet==1.0.0
grpcio==1.24.3

h5py==2.10.0
httplib2==0.19.1
idna==2.8
imageai==2.1.5
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lxml==4.6.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
multidict==5.1.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
noise==1.2.2
notebook==6.1.4
numpy==1.19.3
oauthlib==3.1.0
opencv-python==3.4.2.16
openpyxl==3.0.5
opt-einsum==3.1.0
packaging==20.4
pandas==1.1.5
pandocfilters==1.4.3
parso==0.7.1
peewee==3.14.4
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.2.0
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.10.0
pyaes==1.6.1
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycodestyle==2.8.0
pycparser==2.19
pyftdi==0.52.0
pygame==2.0.1
pyglet==1.5.14
Pygments==2.7.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
PyOpenGL==3.1.5
pyparsing==2.4.2
pypiwin32==223
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.1.1.7.3
pyqtgraph==0.11.1
pyrsistent==0.17.3
pyserial==3.4
pyTelegramBotAPI==3.6.7
python-dateutil==2.8.0
python-docx==0.8.10
python-dotenv==0.14.0
python-pptx==0.6.18
python-telegram-bot==12.3.0
pytz==2019.1
pyusb==1.1.0
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.1.2
pyzmq==19.0.2
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
s3transfer==0.3.3
schedule==1.0.0
scipy==1.3.1
Send2Trash==1.5.0
six==1.12.0
SQLAlchemy==1.4.5
tensorboard==2.0.1
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
toml==0.10.2
tornado==6.0.3
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.24.3
vk-api==11.9.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
WTForms==2.3.3
xlrd==1.2.0
XlsxWriter==1.3.7
yarl==1.6.3
zipp==3.4.0
